/*
RULES:
Title - 32px
Body - 18px
Small - 14px

COLORS?:
Text - #EDEDED
Background - #212731
Background2 - #393E46
Primary - #00AAB3
Secondary - #BEC4CF
Accent - #FF3D3D
*/

/* Universal */

:root {
    --text-color: #EDEDED;
    --background-color: #212731;
    --background-color-2: #393E46;
    --primary-color: #00AAB3;
    --secondary-color: #BEC4CF;
    --accent-color: #FF3D3D;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body and General */

body {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
p,
li {
    color: var(--text-color);
}

h1 {
    font-size: 32px;
    letter-spacing: 1px;
}

p,
a,
li {
    font-size: 18px;
}

h2 {
    font-size: 12px;
}

hr {
    margin: 10px 0px 0px 0px;
    border-color: var(--secondary-color);
}

ul {
    list-style: circle;
}

@media only screen and (max-width: 650px) {
    h1 {
        letter-spacing: 0px;
    }
}

/* Hidden Items */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Section General Class */

header,
section {
    width: 100%;
    min-height: 102vh;
    padding: 0px 50px;
    box-sizing: border-box;
}

.section-hide-div {
    width: 100%;
    height: 100%;
}

.primary-bold {
    color: var(--primary-color);
}

/* Header Section (Name/Desc/Nav) */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
}

header p {
    margin: 5px 0px 0px 0px;
}

header nav {
    margin: 25px 0px 0px 0px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px 5px;
}

header nav ul a {
    margin: 0px 25px 0px 0px;

    color: var(--secondary-color);
    text-decoration: solid;

    transition: 200ms ease-in-out;
}

header nav ul a:hover {
    color: var(--accent-color);
    text-shadow: 1px 1px 1px rgba(255, 61, 61, 0.4);
}

@media only screen and (max-width: 650px) {
    header h1 {
        max-width: 300px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul a {
        margin: 5px 0px 0px 0px;
    }
}

/* About Me Section */

#about-me-section {
    background-color: var(--background-color-2);
    display: grid;
}

#about-me-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-me-title {
    margin: 0px 25px 0px 0px;
    max-width: 625px;
}

#about-me-title h1 {
    color: var(--primary-color);
}

#about-me-title hr {
    width: 40%;
}

#about-me-title p {
    margin: 10px 0px 0px 0px;
    line-break: strict;
    text-align: left;
}

#about-me-title li {
    margin: 10px 0px 0px 0px;
    color: var(--secondary-color);
    transition: 100ms ease-in-out;
}

#about-me-title li:hover {
    color: var(--text-color);
}

#about-me-div img {
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 650px) {
    #about-me-div {
        flex-direction: column;
    }

    #about-me-div img {
        margin: 25px 0px 0px 0px;
    }
}

/* Projects Section */

#projects-section {
    display: grid;
    height: 135vh;
}

#projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
}

.project-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0px 0px 100px 0px;
}

.reverse {
    flex-direction: row-reverse;
}

.project-article hr {
    width: 30%;
}

.project-article p {
    margin: 10px 0px 0px 0px;
    text-align: left;
    line-break: strict;

    color: var(--secondary-color);
    transition: 100ms ease-in-out;
}

.project-article p:hover {
    color: var(--text-color);
}

.project-article-text {
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: 750px;
}

.project-article-text+.project-article-img {
    margin: 0px 30px 0px 30px;
}

.project-article-img {
    width: 40vh;
    height: auto;
}

@media only screen and (max-width: 650px) {
    #projects-section {
        display: grid;
        height: 165vh;
    }

    .project-article {
        flex-direction: column;
        margin: 0px 0px 100px 0px;
    }
}

/* Skills Section */

#skills-section {
    background-color: var(--background-color-2);
    display: grid;
}

#skills-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skill-span {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.skill-span+.skill-span {
    margin: 0px 10px 0px 0px;
}

.skill-span hr {
    width: 62%;
}

.skill-span li {
    max-width: 500px;
    margin: 7px 0px 0px 0px;
    color: var(--secondary-color);
    transition: 100ms ease-in-out;
}

.skill-span li:hover {
    color: var(--text-color);
}

@media only screen and (max-width: 650px) {
    #skills-div {
        flex-direction: column;
    }

    .skill-span+.skill-span {
        margin: 32px 0px 0px 0px;
    }
}

/* Contact Section */

#contact-section {
    display: grid;
}